[submodule "Software/ClientApp/src/main/python/pyqtsa"]
	path = Software/ClientApp/src/main/python/pyqtsa
	url = https://github.com/ChaseStewart/PyQtSA
[submodule "Software/PaddleStub"]
	path = Software/PaddleStub
	url = git@github.com:HiddenLayerDesign/PaddleStub.git
